<!DOCTYPE html>
<html>
<head>
    <title>Semi-Categories</title>
</head>
<body>
    <h1>Semi-Categories</h1>
    <a href="/semi-categories/add/">Add Semi-Category</a>
    <ul>
        {% for semi_category in semi_categories %}
            <li>{{ semi_category.name }}
                <a href="/semi-categories/delete/{{ semi_category.id }}/">Delete</a>
                <a href="{% url 'dashboard' %}" class="btn btn-primary mt-3">Go to Dashboard</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
