<!-- users/templates/users/user_detail.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Detail</title>
</head>
<body>
    <h1>User Detail: {{ user.username }}</h1>
    <p>Email: {{ user.email }}</p>
    <p>Role: {{ user.role }}</p>
    <a href="{% url 'dashboard' %}"><button>Dashboard</button></a> <!-- Added Dashboard link -->
    <a href="{% url 'user_list' %}"><button>Back to User List</button></a>
</body>
</html>
